/node_modules
/public/hot
/public/images/*
/public/invoices/*
/public/frontend/images/*

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php
/vendor
*.zip
*.rar
.env
.env.backup
.phpunit.result.cache
.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/stock_count
scratch/