/node_modules
/public/hot
/public/images/*
/public/invoices/*
/public/frontend/images/*

/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/data
!/storage/framework/cache/data/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/vendor
*.zip
*.rar
.env
.env.backup
.phpunit.result.cache
.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/stock_count
scratch/
/.phpunit.cache
