*.key
/framework/cache/*
!/framework/cache/.gitignore
!/framework/cache/data
/framework/cache/data/*
!/framework/cache/data/.gitignore
/framework/sessions/*
!/framework/sessions/.gitignore
/framework/views/*
!/framework/views/.gitignore
/framework/testing/*
!/framework/testing/.gitignore
/logs/*
!/logs/.gitignore
/debugbar/*
installed.lock
